<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Bid</h2>
	</div>

	<div class="row">
		<form th:action="@{/bidsList/validate}" th:object="${bidsList}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Save data and Cancel to the list Bid
			 -->
			<div>
				<input type="text" placeholder="Entrez le montant..." th:field="*{amount}" class="form-control" required />
				<input type="text" placeholder="Entrez une description..." th:field="*{description}" class="form-control" required />
			</div>
			<div>
				<input type="submit" class="btn btn-primary btn-sm" value="Enregistrer" />
				<a href="/bidsList/add" class="btn btn-secondary btn-sm">Annuler</a>
			</div>
		</form>
	</div>

</div>
</body>
</html>