<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update Bid</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/bidsList/update/{id}(id=${bid.id})}" th:object="${bid}" method="post" class="form-horizontal" style="width: 100%">
			<div>
				<input type="text" placeholder="Entrez une description..." th:field="*{commentary}" class="form-control" required />
				<input type="text" placeholder="Entrez une quantité..." th:field="*{bidQuantity}" class="form-control" required />
				<input type="text" placeholder="Entrez une action..." th:field="*{dealName}" class="form-control" required />
			</div>
			<div>
				<input type="submit" class="btn btn-primary btn-sm" value="Enregistrer" />
				<a href="/bidsList/add" class="btn btn-secondary btn-sm">Annuler</a>
			</div>
		</form>
	</div>

</div>
</body>
</html>