<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">

		</div>
		<div class="col-6 text-right">
			<a href="/">Home</a>&nbsp;|&nbsp;<a href="/login">Login</a>
		</div>
	</div>
	<div class="row"><h2>User List</h2></div>
	<div class="row">
		<form action="#" th:action="@{'/user/delete'}" th:method="delete" >
			<a href="/user/add" class="btn btn-primary btn-sm" style="margin-right: 10px;margin-bottom: 10px;">Add New</a>
			<input type="hidden" name="_method" value="delete" />
			<button type="submit" id="submitAllButton" class="btn btn-danger btn-sm" style="margin-right: 10px;margin-bottom: 10px;">Delete All</button>
		</form>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Full Name</th>
					<th>User Name</th>
					<th>Role</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td style="width: 10%" th:text="${user.id}"></td>
					<td th:text="${user.fullname}"></td>
					<td th:text="${user.username}"></td>
					<td style="width: 25%" th:text="${user.role}"></td>
					<td style="width: 15%" class="text-center">
						<a th:href="@{/user/update/{id}(id=${user.id})}">Edit</a>&nbsp;|&nbsp;
						<a th:href="@{/user/delete/{id}(id=${user.id})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>