<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Liste des utilisateurs | Le Boursier</title>
<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">

		</div>
		<div class="col-6 text-right" style="margin-top: 10px;">
			<form th:action="@{/login}" method="GET">
				<input type="submit" class="btn badge-primary btn-sm" value="Se connecter"/>
				<a th:href="@{/}" class="btn btn-secondary btn-sm">Accueil</a>
			</form>
		</div>
	</div>
	<div class="row"><h2>Liste des utilisateurs</h2></div>
	<div class="row">
		<form action="#" th:action="@{'/user/delete'}" th:method="delete" >
			<a href="/user/add" class="btn btn-primary btn-sm" style="margin-right: 10px;margin-bottom: 10px;">Ajouter un utilisateur</a>
			<input type="hidden" name="_method" value="delete" />
			<button type="submit" id="submitAllButton" class="btn btn-danger btn-sm" style="margin-right: 10px;margin-bottom: 10px;">Tout supprimer</button>
		</form>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nom complet</th>
					<th>Courriel</th>
					<th>Role</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td style="width: 10%" th:text="${user.id}"></td>
					<td th:text="${user.fullname}"></td>
					<td th:text="${user.username}"></td>
					<td style="width: 25%" th:text="${user.role}"></td>
					<td style="width: 15%" class="text-center">
						<form action="#" th:action="@{'/user/delete/{id}'(id=${user.id})}" th:method="delete" style="display: flex;">
							<a th:href="@{/user/update/{id}(id=${user.id})}" class="btn btn-primary btn-sm"  style="margin-right: 10px;">Modifier</a>
							<input type="hidden" name="_method" value="delete" />
							<button type="submit" id="submitButton" class="btn btn-danger btn-sm">Supprimer</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>