<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Rule</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/ruleName/validate}" th:object="${rule}" method="post" class="form-horizontal" style="width: 100%">
			<div>
				<input type="text" placeholder="Entrez une nom..." th:field="*{name}" class="form-control" required />
				<input type="text" placeholder="Entrez une description..." th:field="*{description}" class="form-control" required />
				<input type="text" placeholder="Entrez le JSON..." th:field="*{json}" class="form-control" required />
				<input type="text" placeholder="Entrez un modèle..." th:field="*{template}" class="form-control" required />
				<input type="text" placeholder="Entrez une expression SQL..." th:field="*{sqlStr}" class="form-control" required />
				<input type="text" placeholder="Entrez un SQL Part..." th:field="*{sqlPart}" class="form-control" required />
			</div>
			<div>
				<input type="submit" class="btn btn-primary btn-sm" value="Enregistrer" />
				<a href="/ruleName/list" class="btn btn-secondary btn-sm">Annuler</a>
			</div>
		</form>
	</div>

</div>
</body>
</html>