<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Liste des régles | Le Boursier</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			Menu :
			<b><a href="/bidList/list">Liste des offres</a>&nbsp;|&nbsp;
				<a href="/curvePoint/list">Courbes</a>&nbsp;|&nbsp;
				<a href="/rating/list">Taux</a>&nbsp;|&nbsp;
				<a href="/trade/list">Marché</a>&nbsp;|&nbsp;
				<a href="/ruleName/list">Règle</a></b>
		</div>
		<div class="col-6 text-right">
			Authentifié(e) en tant que : <b th:inline="text"  class="user"> [[${username}]] </b>
			<form th:action="@{/logout}" method="POST">
				<a th:method="GET" th:href="@{/}" class="btn btn-primary btn-sm">Accueil</a>
				<input type="submit" class="btn badge-secondary btn-sm" value="Se déconnecter"/>
			</form>
		</div>
	</div>
	<div class="row"><h2>Liste des régles</h2></div>
	<div class="row">
		<form action="#" th:action="@{'/ruleName/delete'}" th:method="delete" >
			<a href="/ruleName/add" class="btn btn-primary btn-sm" style="margin-right: 10px;margin-bottom: 10px;">Add New</a>
			<input type="hidden" name="_method" value="delete" />
			<button type="submit" id="submitAllButton" class="btn btn-danger btn-sm" style="margin-right: 10px;margin-bottom: 10px;">Delete All</button>
		</form>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nom</th>
					<th>Description</th>
					<th>JSON</th>
					<th>Template</th>
					<th>SQL String</th>
					<th>SQL Part</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="rule: ${rules}">
					<td th:text="${rule.id}">ID</td>
					<td th:text="${rule.name}">Nom</td>
					<td th:text="${rule.description}">Description</td>
					<td th:text="${rule.json}">JSON</td>
					<td th:text="${rule.template}">Template</td>
					<td th:text="${rule.sqlStr}">SQL String</td>
					<td th:text="${rule.sqlPart}">SQL Part</td>
					<td style="width: 15%" class="text-center">
						<form action="#" th:action="@{'/ruleName/delete/{id}'(id=${rule.id})}" th:method="delete" >
							<a th:href="@{/ruleName/update/{id}(id=${rule.id})}" class="btn btn-primary btn-sm">Modifier</a>
							<input type="hidden" name="_method" value="delete" />
							<button type="submit" id="submitButton" class="btn btn-danger btn-sm">Supprimer</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>